.wrapper {
    width: 960px;
    margin: 0 auto;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color: #777777;
    min-height: calc(100vh - 148px);
}

body {
    background: url(../images/papyrus.png) repeat;
}

a {
    text-decoration: none;
    color: #777777;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.mainContent h2 {
    color: #557073;
    font-size: 24px;
    border-bottom: 1px solid #9FBFBF;
    margin: 0 0 30px;
    padding-bottom: 20px;
}

div.headerContainer {
    width: 960px;
    margin: 0 auto;
}

.mainHeader {
    background: #fff;
    padding: 0px;
    padding-bottom: 0;
    color: #fff;
    border-bottom: 2px solid #cccccc;
    margin: 0 auto;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.brand {
    display: inline-block;
    width: 220px;
    background: #4aaaa5;
    padding: 20px;
    text-align: center;
    font-size: 24px;
}

.brand h1, 
.wrapper h2,
.wrapper h3 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
}

.mainNav {
    width: 400px;
    display: inline-block;
    float: right;
    margin-right: 25px;
}

.mainNav ul li{
    list-style: none;
    display: inline-block;
    width: 60px;
    border-right: 1px solid #9FBFBF;
    padding: 0 20px;
    text-align: center;
}

.mainNav ul li:last-child {
    border-right: none;
}

.mainNav ul {
    float: right;
    margin-top: 25px;
}

.prof-image {
    width: 250px;
    display: inline-block;
    margin-right: 25px;
    float: left;
}

li:hover {
    background-color: #9FBFBF;
    border-right: none;
}

.mainContent {
    background: #fff;
    padding: 25px;
    margin-top: 20px;
    border: 1px solid #dddddd;
}

.mainContent p {
    margin-top: 20px;
}

.mainContent p:first-of-type {
    margin-top: 0;
}

.footer {
    border-top: 10px solid #4aaaa5;
    color: #fff;
    background: #666;
    text-align: center;
    font-size: 12px;
    height: 50px;
    clear: both;
}

.footer span {
    display: inline-block;
    margin-top: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}


/* PORTFOLIO PAGE */

.container {
    position: relative;
    width: 30%;
    float: left;
    margin-right: 5%;
    margin-bottom: 5%;
  }

  .text-block {
    position: absolute;
    bottom: 10px;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    width: 100%;
    padding: 12px 0;
    -moz-box-sizing: border-box;
  }

  .text-block h3 {
    font-weight: normal;
    font-size: 20px;

  }

  .clearfix {
    content: "";
    display: table;
    clear: both;
  }

/* CONTACT PAGE */

form {
    margin: 0 auto;
    width: 100%px;
    padding: 16px;
    border: 1px solid #CCC;
    border-radius: 16px;
  }

  form div + div {
    margin-top: 20px;
  }

  label {
    display: inline-block;
    width: 90px;
  }

  /* input, textarea {
      width: 100%;
  } */

input[type=text], 
input[type=email], 
textarea {
    width: 100%; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    padding: 5px;
    margin-top: 5px;
}

input[type=submit] {
    width: 100px;
    background: #4aaaa5;
    color: #fff;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 4px; 
}

input[type=submit]:hover {
    background-color: #9FBFBF;
    color: #557073;
  }

.formContainer {
    box-sizing: border-box;
    padding-right: 15px;
}
  
  